.dashboard {
  display: flex;
  flex-direction: row;

  .nav {
    background: #658ca6;
  }
  .slider {
    background: #658ca6;
    margin: 1rem 0;
    // height: 250px;
    border-radius: 0.5rem;

    // .movie-poster {
    //   width: 120px;

    //   img {
    //     width: 100%;
    //     object-fit: cover;
    //   }
    // }
  }

  .burguer-menu {
    button {
      outline: none;
      border: none;
      border-radius: 100%;
      background: red;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.6rem;

      img {
        width: 15px;
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
  }

  .search-input {
    input {
      border: none;

      &:hover {
        border: none;
      }
    }
  }

  .user-image {
    height: 35px;
  }

  //   Grid SMALL
  .movies-grid-small {
    @media (min-width: 768px) {
      .card {
        margin-right: 1rem;
      }
    }
  }

  //   BIG GRID
  .movies-grid-big {
    .big-movie-container {
      width: 100%;
    }

    .medium-movies-container {
      width: 100%;
    }

    @media (min-width: 768px) {
      // height: 416px;

      .big-movie-container {
        width: 48.9%;
        margin-right: 1rem;
      }

      .medium-movies-container {
        width: calc(100% - 49.9%);
      }
    }
  }
}

footer {
  background: #658ca6;
}
